<p id="notice"><%= notice %></p>

<div class="container-fluid hero-image">
    <div class="container hero-text top-padding">
         <h1 class="text-center"> <%= params[:category] %> Tools <i class="fa fa-wrench" aria-hidden="true"></i></h1>
         <h3 class="text-center">Free Tools for None-technical Startup Founders.</h3>
    </div>
    
</div>

<div class="container">
    <div class="row">
        <% @tools.each do |tool| %>
        <div class="col-sm-4">
            <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href= "/tools/ <%= tool.id %>">
                            <%= image_tag tool.image.url(:thumb), class:"center-block img-thumbnail"%>
                        </a> 
                    </div>
                    <div class="panel-body">
                        <h3 class="text-center">
                            <%= tool.title %>
                        </h3>
                        <p class="text-center">
                            <%= tool.tagline %>
                        </p>
                    </div>
                </div>
        </div>
        <% end %>
    </div>
</div>
  

