<p id="notice"><%= notice %></p>

<div class="container-fluid hero-image">
    <div class="container hero-text top-padding">
         <h1 class="text-center"> <%= params[:category] %> Tools <i class="fa fa-wrench" aria-hidden="true"></i></h1>
         <h3 class="text-center">Free Tools for None-technical Startup Founders.</h3>
    </div>
    
</div>

<% @tools.each do |tool| %>
  <div class= row>
      <a href= "/tools/ <%= tool.id %>">
          <%= image_tag tool.image.url(:medium) %>
      </a>   
      <%= tool.title %>
      <%= tool.description %>
      <%= tool.link %>
      
  </div>
<% end %>
  

