<p id="notice"><%= notice %></p>


<%= image_tag @tool.image.url(:medium) %>
<p>
  <strong>Title:</strong>
  <%= @tool.title %>
</p>
<p><%= @tool.category.name %></p>
<p>
  <strong>Description:</strong>
  <%= @tool.description %>
</p>


  <a href="<%= @tool.link %>" target="_blank">
    <button class="btn-new">Use <%= @tool.title %></button>
  </a>


<%= link_to 'Edit', edit_tool_path(@tool) %> |
<%= link_to 'Back', tools_path %>
